@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 99%;

    /* --foreground: 240, 11%, 2%; */
    --foreground: #111111;

    --card: 0 0% 99%;
    /* --card-foreground: 135, 31%, 5%; */
    --card-foreground: #141417;

    --popover: 0 0% 99%;
    /* --popover-foreground: 135, 31%, 5%; */
    --popover-foreground: #141417;

    /* --primary: 240, 6%, 10%; */
    --primary: #374151;
    /* --primary-foreground: 0, 0%, 98%; */
    --primary-foreground: #f9fafb;

    --secondary: #f3f4f6;
    --secondary-foreground: #374151;

    --muted: #f3f4f6;
    --muted-foreground: #4b5563;

    --accent: #f3f4f6;
    --accent-foreground: #374151;

    --destructive: 160, 84%, 39%;
    --destructive-foreground: 0 0% 98%;

    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #141417;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240, 11%, 2%;
    --foreground: 0 0% 98%;

    --card: 135, 31%, 5%;
    --card-foreground: 0 0% 98%;

    --popover: 135, 31%, 5%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 10%;

    --secondary: 240, 4%, 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240, 4%, 16%;
    --muted-foreground: 240, 5%, 65%;

    --accent: 240, 4%, 16%;
    --accent-foreground: 0 0% 98%;

    --destructive: 164, 86%, 16%;
    --destructive-foreground: 0 0% 98%;

    --border: 240, 4%, 16%;
    --input: 240, 4%, 16%;
    --ring: 240, 5%, 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
